<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Let's Party</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>
      Party Itinerary
      </h1>
      <ul>

        <% for(let i = 0; i < partyItems.length; i++) { %>
          <li>


          <th>  <%= partyItems[i].name %> </th>
          <th>  <%= partyItems[i].item %> </th>
          <th>  <%= partyItems[i].quantity %> </th>
          <form action='/party/ <%= i %>?_method=DELETE' method='POST'>
            <input type='submit' value='Delete'/>
          </form>

            </li>
  <%      } %>
        </ul>


          <table>
            <tr>
          <th>  <%= partyItems.name %> </th>
          <th>  <%= partyItems.item %> </th>
          <th>  <%= partyItems.quantity %> </th>

            </tr>
            </table>

            <nav>
              <a href='/party/new'>New Entry</a>

            </nav>

  </body>
</html>
